<!--Part of New Functionality: Redirect page after logging in, showing user information and their saved albums-->
<center>
	<h1>You are logged in as: <%= @spotify_user.display_name %></h1>
	<img src="<%= @spotify_user.images[0].url %>">
	<p>Your Country: <%= @spotify_user.country %></p>
	<%= link_to 'LOGOUT', root_url %> <!--Redirects you to home page-->
</center>

<h3>Your Saved Albums:</h3>
<ul>
	<!--What to do if no albums saved by user-->
	<% if @albums.length == 0 %>
		<h5>No albums saved</h5>
	<% end %>
	<!--Print out all saved albums-->
	<% @albums.each do |album| %> 
		<li><%= album.name %> by <%= album.artists[0].name %> | <%= link_to "Show tracklist & availability", album_path(album.id) %></li>
	<% end %>
</ul>