<!--Layout of album information page-->
<h1 class="page-header"><%= @album.name %>  by <%= album.artists[0].name %> track list:</h1>
   <% @album.tracks.each do |track| %> <!--list out tracks of album-->
     <li>
       <%= track.name %>
     </li>
<% end %>

<h3><%= @album.name %> 's URI is <%= @album.uri %> </h3>
	
	<!--extract URI-->
  	<% uriString = @album.uri %>
  	<% separatedURI = uriString.split(":") %>
  	<% uri = separatedURI[2] %>
  	<!--string together URL-->
  	<% url = "https://itstheresa.github.io/spotifyWorldView/#" + uri %>
	<%= link_to "See album availability", url%>

<!--list out album's available markets-->
<h3><%= @album.name %> is available in: </h3>
   <% @album.available_markets.each do |available_market| %>
       <%= available_market + ", "%>	
<% end %>